# LISP tutorial

## Introduction

### commenting

In [1]:
;;; Comment
;; Comment that is indented with code
; Comment after a line of code

#||
Multiline Comment
||#

;;; ~% prints a newline with format
(format t "Hello world~%")

Hello world

NIL

#### printing

In [7]:
(print "hello world")

"hello world"

"hello world"

for naming variables you can use
 - letters(lower case) numebrs + - _ * > < ? ! ...<br>
 
Do nor use spaces<br>
Lisp is not case sentitive<br>

The format statement starts with t to print to the console <br>
The control sequence begins with a ~ <br>
>   ~a : Shows the value <br>
~s : Shows quotes around the value <br> 
~10a : Adds 10 spaces for the value with extra space to the right <br>
~10@a : Adds 10 spaces for the value with extra space to the lef <br>

A form is a list with a command function name at the beginning  <br>
Everything that follows the command is sent as parameters to the function

In [ ]:
(+ 5 4)

Everything is a list in which each piece is held in a Cons Cell (Consecutive Cell) <br>
 [+] [5] [4] [nil] with nil defining the end of the list

You can nest a form inside of a form

In [ ]:
(+ 5 (- 6 2))

Format

In [17]:
(terpri)

NIL

In [16]:
(format t "Number with commas ~:d" 10000000) (terpri)

(format t "PI to 5 characters ~5f" 3.141593) (terpri)

(format t "PI to 4 decimals ~,4f" 3.141593) (terpri)

(format t "10 Percent ~,,2f" .10) (terpri)

(format t "10 Dollars ~$ ~%" 10)

Number with commas 10,000,000
PI to 5 characters 3.142
PI to 4 decimals 3.1416
10 Percent 10.0
10 Dollars 10.00

NIL

## Numbers

Numbers are provided in various forms and representations.

## Integers

The  integer  data  type  is  intended  to  represent mathematical integers. Common LISP imposes no limit on the magnitude of an integer; storage is automatically allocated as necessary to represent large integers.

Zero

In [18]:
0

0

In [19]:
-0

0

Digit with a point still an integer

In [20]:
1.

1

In [21]:
15511210043330985984000000

15511210043330985984000000

two types of integers, bignum and fixnum

In [22]:
most-positive-fixnum

4611686018427387903

In [23]:
most-negative-fixnum

-4611686018427387904

## Ratios

Rational numbers may be written as the possibly signed quotient of decimal numerals: an optional sign followed by two non-empty sequences of digits separated by a /. This syntax may be described as follows:

 ratio ::= [sign] {digit}+ / {digit}+

In [24]:
2/3                 ;This is in canonical form

2/3

In [25]:
4/6   ;A non-canonical form for the same number

2/3

In [26]:
-17/23

-17/23

In [27]:
-30517578125/32768

-30517578125/32768

In [28]:
10/5                ;The canonical form for this is 2

2

## Floation-point numbers

Floating-point numbers may be provided in a variety of precisions and sizes. Certain definitions are made here:

-  A short floating-point number (type short-float) is of the representation of smallest fixed precision.
- A long floating-point number (type long-float) is of the representation of the largest fixed precision.
- Intermediate between short and long formats are two others, arbitrarily called single and double (types single-float and double-float).

The exponent specifier consists of an exponent marker, an optional sign, and a non-empty sequence of digits.

    floating-point-number ::= [sign] {digit}* decimal-point {digit}* [exponent]
                        | [sign] {digit}+ [decimal-point {digit}*] exponent
    sign ::= + | -
    decimal-point ::= .
    digit ::= 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9
    exponent ::= exponent-marker [sign] {digit}+
    exponent-marker ::= e | s | f | d | l | E | S | F | D | L

The letters s, f, d, and l explicitly specify the use of short, single, double, and long format, respectively.

In [29]:
0.0     ;Floating-point zero in default format

0.0

In [30]:
0E0     ;Also floating-point zero in default format

0.0

In [31]:
-.0      ;This may be a zero or a minus zero, 
         ; depending on the implementation

-0.0

In [32]:
0.0s0     ;A floating-point zero in short format

0.0

In [33]:
0s0       ;Also a floating-point zero in short format

0.0

In [34]:
3.1415926535897932384d0     ;A double-format approximation to

3.141592653589793d0

In [35]:
PI

3.141592653589793d0

In [36]:
6.02E+23                    ;Avogadro's number, in default format

6.02e23

In [37]:
602E+21                     ;Also Avogadro's number, in default format

6.02e23

## Complex Numbers

Complex numbers may be notated by writing the characters #C followed by a list of the real and imaginary parts. Both parts must be of the same type: either both are rational, or both are of the same floating-point format.

In [38]:
#C(0 1)              ;The imaginary unit, that is, i

#C(0 1)

In [39]:
(sqrt -1)

#C(0.0 1.0)

In [40]:
#C(3.0s1 2.0s-1)     ;Real and imaginary parts are short format

#C(30.0 0.2)

In [41]:
#C(5/3 7.0)          ;Will be converted internally to #C(1.66666 7.0)

#C(1.6666666 7.0)

# Math Functions

In [43]:
(format t "(+ 5 4) = ~d ~%" (+ 5 4))
(format t "(- 5 4) = ~d ~%" (- 5 4))
(format t "(* 5 4) = ~d ~%" (* 5 4))
(format t "(/ 5 4) = ~d ~%" (/ 5 4)) ; = 5/4
(format t "(/ 5 4.0) = ~d ~%" (/ 5 4.0)) ; = 1.25
(format t "(rem 5 4) = ~d ~%" (rem 5 4)) ; = 1 Returns the remainder
(format t "(mod 5 4) = ~d ~%" (mod 5 4)) ; = 1 Returns the remainder
 
(format t "(expt 4 2) = ~d ~%" (expt 4 2)) ; = Exponent 4^2
(format t "(sqrt 81) = ~d ~%" (sqrt 81)) ; = 9
(format t "(exp 1) = ~d ~%" (exp 1)) ; = e^1
(format t "(log 1000 10) = ~d ~%" (log 1000 10)) ; = 3 = Because 10^3 = 1000
(format t "(floor 5.5) = ~d ~%" (floor 5.5)) ; = 5
(format t "(ceiling 5.5) = ~d ~%" (ceiling 5.5)) ; = 6
(format t "(max 5 10) = ~d ~%" (max 5 10)) ; = 10
(format t "(min 5 10) = ~d ~%" (min 5 10)) ; = 5

(+ 5 4) = 9
(- 5 4) = 1
(* 5 4) = 20
(/ 5 4) = 5/4
(/ 5 4.0) = 1.25
(rem 5 4) = 1
(mod 5 4) = 1
(expt 4 2) = 16
(sqrt 81) = 9.0
(exp 1) = 2.7182817
(log 1000 10) = 3.0
(floor 5.5) = 5
(ceiling 5.5) = 6
(max 5 10) = 10
(min 5 10) = 5

NIL

There is also sin, cos, tan, asin, acos, atan

# Characters

Characters are represented as data objects of type character. A character object can be notated by writing #\ followed by the character itself.

In [44]:
#\g ;means the character object for a lowercase g.

#\g

In [45]:
#\Space  ; #\Space (or #\SPACE or #\space or #\sPaCE)
         ; means the space character.

#\

In [46]:
#\Escape

#\Esc

# Symbols

In [47]:
FROBBOZ         ;The symbol whose name is FROBBOZ 
frobboz         ;Another way to notate the same symbol 
fRObBoz         ;Yet another way to notate it 
unwind-protect  ;A symbol with a - in its name 
+$              ;The symbol named +$ 
1+              ;The symbol named 1+ 
+1              ;This is the integer 1, not a symbol 
pascal_style    ;This symbol has an underscore in its name 
b^2-4*a*c       ;This is a single symbol! 
                ; It has several special characters in its name 
file.rel.43     ;This symbol has periods in its name 
/usr/games/zork ;This symbol has slashes in its name

UNBOUND-VARIABLE:
  #<UNBOUND-VARIABLE FROBBOZ {100379D003}>

NIL

In [48]:
\(       ;The symbol whose name is ( 
\+1       ;The symbol whose name is +1 
+\1       ;Also the symbol whose name is +1 
\frobboz   ;The symbol whose name is fROBBOZ 
3.14159265\s0   ;The symbol whose name is 3.14159265s0 
3.14159265\S0   ;A different symbol, whose name is 3.14159265S0 
3.14159265s0    ;A short-format floating-point approximation to  
APL\\360     ;The symbol whose name is APL 360 
apl\\360     ;Also the symbol whose name is APL 360 
\(b^2\)\ -\ 4*a*c      ;The name is (B^2) - 4*A*C; 
                       ; it has parentheses and two spaces in it 
\(\b^2\)\ -\ 4*\a*\c   ;The name is (b^2) - 4*a*c; 
                       ; the letters are explicitly lowercase

UNBOUND-VARIABLE:
  #<UNBOUND-VARIABLE ( {10037F68F3}>

NIL

In [49]:
|"|               ;The same as writing \" 
|(b^2) - 4*a*c|   ;The name is (b^2) - 4*a*c 
|frobboz|         ;The name is frobboz, not FROBBOZ 
|APL\360|         ;The name is APL360, because the \ quotes the 3 
|APL\\360|        ;The name is APL\360 
|apl\\360|        ;The name is apl\360 
|\|\||            ;Same as \|\|: the name is || 
|(B^2) - 4*A*C|   ;The name is (B^2) - 4*A*C; 
                  ; it has parentheses and two spaces in it 
|(b^2) - 4*a*c|   ;The name is (b^2) - 4*a*c

UNBOUND-VARIABLE:
  #<UNBOUND-VARIABLE " {100384ED83}>

NIL

# Forms
The standard unit of interaction with a Common Lisp implementation is the form, which is simply a data object meant to be evaluated as a program to produce one or more values (which are also data objects).

One may request evaluation of any data object, but only certain ones are meaningful. For instance, symbols and lists are meaningful forms, while arrays normally are not. Examples of forms are 3, whose value is 3, and (+ 3 4), whose value is 7.

Forms may be divided into three categories: self-evaluating forms, such as numbers; symbols, which stand for variables; and lists. The lists in turn may be divided into three categories: special forms, macro calls, and function calls.

## Self-Evaluating Forms
All numbers, characters, strings, and bit-vectors are self-evaluating forms. When such an object is evaluated, that object (or possibly a copy in the case of numbers or characters) is returned as the value of the form. The empty list (), which is also the false value nil, is also a self-evaluating form: the value of nil is nil. Keywords (symbols written with a leading colon) also evaluate to themselves: the value of :start is :start.

## Variables
Symbols are used as names of variables in Common Lisp programs.  <br>
There are actually two kinds of variables in Common Lisp.
- lexical (or static) variables
- special (or dynamic) variables.

At any given time either or both kinds of variable with the same name may have a current value. Which of the two kinds of variable is referred to when a symbol is evaluated depends on the context of the evaluation. The general rule is that if the symbol occurs textually within a program construct that creates a binding for a variable of the same name, then the reference is to the variable specified by the binding; if no such program construct textually contains the reference, then it is taken to refer to the special variable of that name.

Certain global variables are reserved as "named constants".<br> 
They have a global value and may not be bound or assigned to. <br>
For example, the symbols t and nil are reserved.<br>
Constant symbols defined by defconstant also become reserved and may not be further assigned to or bound (although they may be redefined, if necessary, by using defconstant again).

In [54]:
(setq nil 3)

; in: PROGN (SETQ NIL 3)
;     (SETQ NIL 3)
;
; caught ERROR:
;   NIL is a constant and thus can't be set.
;
; compilation unit finished
;   caught 1 ERROR condition
COMPILED-PROGRAM-ERROR:
  #<SB-INT:COMPILED-PROGRAM-ERROR {1003A2B103}>

NIL

In [50]:
(defvar *name* "Lalo") ;  for receiving data

*NAME*

In [51]:
(defun hello-you (*name*)
    (format t "Hello ~a! ~%" *name*))

HELLO-YOU

In [52]:
(hello-you *name*)

Hello Lalo!

NIL

In [53]:
*name*

"Lalo"

Change the value of a variable with setf

In [57]:
(setf *name* 6)

6

In [58]:
*name*

6

### Predicates

These are functions that apply some test one or two values (variables or expressions evaluated before the test is applied) and either succeed (evaluating to t) or fail (evaluating to nil).

- atom: true if its single argument is an atom.

In [59]:
(atom 2)

T

In [60]:
(atom #C(2 5))

T

In [61]:
(atom "this-is-a-string")

T

In [62]:
(atom '(1 2 3))

NIL

- consp: true if its single argument is a symbol.

In [63]:
(consp '(1 2 3))

T

- symbolp: true if its single argument is a symbol.

In [64]:
(symbolp *name*)

NIL

In [65]:
(symbolp 'anything)

T

- numberp: true if its single argument is a number.

In [66]:
(numberp (+ 3 4))

T

- listp: true if its single argument is a (true or dotted) list.

In [67]:
(listp '(a b 4 "hey"))

T

- null: true if its single argument is the empty list (() or nil).

In [68]:
(null t)

NIL

- eq: true if its two arguments are the same identical object. Because of the way LISP handles symbols, a given name always maps to the same symbol, so something like (eq 'a 'a) is always true.

In [70]:
(eq (list 1 2 3) (list 1 2 3)))

NIL

In [71]:
(eq 1.0 1)

NIL

- equalp: compare strings of any case and integers to floats

In [72]:
(eql (list 1 2 3) (list 1 2 3))

NIL

In [73]:
(equalp 1.0 1)

T

In [74]:
(equalp "Lalo" "lalo")

T

- equal: true if its two arguments are isomorphic, i.e. their printed representation is the same.

In [69]:
(defparameter *name* 'Lalo)

*NAME*

In [75]:
(equal *name* 'Lalo)

T

In [76]:
(equal 10 10)

T

In [77]:
(equal 5.5 5.3)

NIL

In [78]:
(equal (list 1 2 3) (list 1 2 3))

T

In [79]:
(equal 1.0 1)

NIL

In [80]:
(equal "Lalo" "lalo")

NIL

### Comparisons on numbers

LISP supports the standard comparisons on numbers, but most can take one up to any number of arguments, rather than just two. (In the case of two arguments, they behave in the traditional way.) All of the arguments must be numbers.

- $=$ all arguments equal
 
- $/=$ all arguments differ (no two equal)
 
- $>$ all arguments monotonically increasing
 
- $<$ all arguments monotonically decreasing
 
- $>$= all arguments monotonically non-decreasing
 
- $<=$ all arguments monotonically non-increasing
 
- $zerop$ one argument only - true if the argument is 0

In [100]:
(< 1 2 3 4 5)

T

In [101]:
(> #c(1 4) #c(4 3))

TYPE-ERROR:
  #<TYPE-ERROR expected-type: REAL datum: #C(1 4)>

NIL

In [103]:
(> 1 0.5)

T

In [98]:
(> 5 4 3 2 1)

T

In [95]:
(zerop 0)

T

## Special Forms
A special form is a form with special syntax, special evaluation rules, or both, possibly manipulating the evaluation environment, control flow, or both. A special operator has access to the current lexical environment and the current dynamic environment. Each special operator defines the manner in which its subexpressions are treated---which are forms, which are special syntax, etc.
The next expresons are some examples of special forms

### quote
 
quote is a special form that simply passes its unevaluated argument through. For example, the value of (quote a) is the symbol a.
 
As a convenience, the LISP reader considers the an expression of the form 'anything to be equivalent to (quote anything).

In [104]:
'(+ 3 4)

(+ 3 4)

In [105]:
'()

NIL

In [106]:
'nil

NIL

In [107]:
'(defvar *name* "Hey")

(DEFVAR *NAME* "Hey")

In [108]:
'(if test then else)

(IF TEST
    THEN
    ELSE)

In [109]:
(quote (quote list))

'LIST

In [110]:
(quote (quote (quote list)))

''LIST

In [111]:
'#\backslash

#\\

## setq

The special form 

    (setq var1 form1 var2 form2 ...) 
    
is the "simple variable assignment statement" of Lisp. 

First form1 is evaluated and the result is stored in the variable var1, then form2 is evaluated and the result stored in var2, and so forth.

setq returns the last value assigned, that is, the result of the evaluation of its last argument. As a boundary case, the form (setq) is legal and returns nil.
(setq)
There must be an even number of argument forms.

In [112]:
(setq p 5)

SIMPLE-WARNING:
undefined variable: P

5

In [113]:
(setq a 1 b 2 c 3)

SIMPLE-WARNING:
undefined variable: A
SIMPLE-WARNING:
undefined variable: B
SIMPLE-WARNING:
undefined variable: C

3

In [114]:
(setq a (1+ b) b (1+ a) c (+ a b))

SIMPLE-WARNING:
undefined variable: A
SIMPLE-WARNING:
undefined variable: B
SIMPLE-WARNING:
undefined variable: C

7

In [115]:
a

3

In [116]:
b

4

In [117]:
c

7

In [118]:
(setq x (+ 3 2 1) y (cons x nil))

SIMPLE-WARNING:
undefined variable: X
SIMPLE-WARNING:
undefined variable: Y

(6)

In [119]:
x

6

In [120]:
y

(6)

Note that the first assignment is performed before the second form is evaluated, allowing that form to use the new value of x.

### let

let create new variable bindings and execute a series of forms that use these bindings.

The form

     (let ((var1 init-form-1)
           (var2 init-form-2)
           ...
           (varm init-form-m))
       form1
       form2
       ...
       formn)

first evaluates the expressions init-form-1, init-form-2, and so on, saving the resulting values. Then all of the variables varj are bound to the corresponding values. The expressions formk are then evaluated.

You can define variables local to only the let body

In [121]:
(let ((x_0 5) 
      (x_1 10)) 
         (print (+ x_0 x_1)))

15

15

In [122]:
x_0

UNBOUND-VARIABLE:
  #<UNBOUND-VARIABLE X_0 {1004CE70D3}>

NIL

In [123]:
x_1

UNBOUND-VARIABLE:
  #<UNBOUND-VARIABLE X_1 {1004D53A53}>

NIL

In [124]:
x

6

In [125]:
(let ((x 10)) x)

10

In [126]:
x

6

In [127]:
(defvar a nil)

A

In [137]:
(setq a 'top)

TOP

In [140]:
(defun dummy-function () a)

REDEFINITION-WITH-DEFUN:
  redefining CL-JUPYTER-USER::DUMMY-FUNCTION in DEFUN

DUMMY-FUNCTION

In [143]:
(let ((a 'inside) (b a))
    (format nil "~S ~S ~S" a b (dummy-function)))

"INSIDE TOP INSIDE"

In [141]:
(let ((a 'inside) (b a))
    (declare (special a))
    (format nil "~S ~S ~S" a b (dummy-function)))

"INSIDE TOP INSIDE"

In [139]:
a

TOP

### if

if allows the execution of a form to be dependent on a single test-form.

First test-form is evaluated. If the result is true, then then-form is selected; otherwise else-form is selected. Whichever form is selected is then evaluated.

    (if test then-form else-from)

In [144]:
(if nil (print "true") (print "false"))

"false"

"false"

In [145]:
(if t (print "true") (print "false"))

"true"

"true"

In [146]:
(if 1 (print 'true) (print 'false))

TRUE

TRUE

In [147]:
(if '(a b c) (print "true") (print "false"))

"true"

"true"

## Macros

### defun

Macro for defining named functions. 
The basic syntax is 

    (defun name ( { parameter }* ) { form }*)

Defines a new function named function-name in the global environment.
The body of the function defined by defun consists of forms.

When the function is called, the form(s) constituting the body are evaluated in sequence in a context where any parameter(s) are lexical variables bound to the actual parameters of the call; if there are multiple form(s) the value of the last becomes the value of the function and the others are evaluated only for side-effects.

In [ ]:
(defun discriminant (a b c)
  "Compute the discriminant for a quadratic equation."
  (- (* b b) (* 4 a c)))

In [ ]:
(discriminant 1 2/3 -2)

### defvar & defparameter

defparameter and defvar establish name as a dynamic variable.

defparameter unconditionally assigns the initial-value to the dynamic variable named name. defvar, by contrast, assigns initial-value (if supplied) to the dynamic variable named name only if name is not already bound.

If no initial-value is supplied, defvar leaves the value cell of the dynamic variable named name undisturbed; if name was previously bound, its old value persists, and if it was previously unbound, it remains unbound.

In [148]:
(defparameter *p* 1)

*P*

In [149]:
*p*

1

In [150]:
(setq *p* 2)

2

In [151]:
*p*

2

In [152]:
(defparameter *p* 3)

*P*

In [153]:
*p*

3

In [154]:
(defvar *v* 1)

*V*

In [155]:
*v*

1

In [156]:
(setq *v* 2)

2

In [157]:
*v*

2

In [158]:
(defvar *v* 3)

*V*

In [159]:
*v*

2

### lambda
Macro for defining anonymous functions. The basic syntax is
	
    (lambda  ( { parameter }* ) { form }* )
	
When the function is called, the form(s) constituting the body are evaluated in sequence in a context where any parameter(s) are lexical variables bound to the actual parameters of the call; if there are multiple form(s) the value of the last becomes the value of the function and the others are evaluated only for side-effects.

In [163]:
(funcall (lambda (x) (+ x 3)) 4)

7

### cond

cond is a macro that selects one series of expressions out of several to evaluate. It has the following basic form (though variations are possible)
 
    (cond (test then) (t else))
	
Each test is evaluated in turn until one returns any result other than nil at which point the following form(s) is/are evaluated. The value of the last form evaluated becomes the value of the cond, hence if there is more than one form, any form save the last is evaluated only for its side effects. It is common to see that the last clause of cond has the test t, which of course is always true and constitutes a default case.

In [164]:
(defvar *x* nil)
(cond (x (format t "yes")) (t (format t "no")))

yes

NIL

In [177]:
(defparameter *age* 10)

*AGE*

In [178]:
*age*

10

In [179]:
(defvar *college-ready* nil)

(cond ( (>= *age* 18) ; If T do this
        (setf *college-ready* 'yes)
        (format t "Ready for College ~%"))
      ( (< *age* 18) ; Else If T do this
        (setf *college-ready* 'no)
        (format t "Not Ready for College ~%"))
      (t (format t "Don't Know ~%"))) ; Else do this by default (t is for true)

Not Ready for College

NIL

In [175]:
*college-ready*

YES

### Case 
case macro performs certain actions depending on conditions

In [181]:
(defun get-school (age)
    (case age
        (5 (print "Kindergarten"))
        (6 (print "First Grade"))
        (otherwise '(middle school))
    ))

(get-school 6)

"First Grade"

REDEFINITION-WITH-DEFUN:
  redefining CL-JUPYTER-USER::GET-SCHOOL in DEFUN

"First Grade"

### and
Macro with any number of arguments, which are usually all tests - true if all are non-nil - false if any is nil. Does short-circuit evaluation - i.e. stops evaluating arguments as soon as one that is false (nil) is encountered.

In [184]:
(defparameter *age* 90)

*AGE*

In [185]:
(if (and (>= *age* 18) (<= *age* 67) )
(format t "Time for work~%")
(format t "Work if you want~%"))

Work if you want

NIL

### or
Macro with any number of arguments, which are usually all tests - true if any is non-nil - false if all are nil. Does short-circuit evaluation - i.e. stops evaluating arguments as soon as one that is true (non-nil) is encountered.

In [186]:
(if (or (<= *age* 21) (>= *age* 67) )
(format t "You shouldn't work~%")
(format t "You should work~%"))

You shouldn't work

NIL

### when & unless

Allow the execution of forms to be dependent on a single test-form.

In a when form, allows you to execute multiple statements by default.<br>
If the test-form yields true, the forms are evaluated in order from left to right and the values returned by the forms are returned from the when form. <br>
Otherwise, if the test-form yields false, the forms are not evaluated, and the when form returns nil.

In an unless form, it is executed if the expression is false.<br>
If the test-form yields false, the forms are evaluated in order from left to right and the values returned by the forms are returned from the unless form. <br>
Otherwise, if the test-form yields false, the forms are not evaluated, and the unless form returns nil.

In [187]:
(when t (prin1 1) (prin1 2) (prin1 3))

123

3

In [188]:
(unless t (prin1 1) (prin1 2) (prin1 3))

NIL

In [189]:
(when nil (prin1 1) (prin1 2) (prin1 3))

NIL

In [190]:
(unless nil (prin1 1) (prin1 2) (prin1 3))

123

3

In [218]:
(defparameter *age* 18)

*AGE*

In [219]:
(when (<= *age* 18)
    (setf *num-3* 18)
    (format t "Go to school you're under ~d ~%" *num-3*)
)

Go to school you're under 18

SIMPLE-WARNING:
undefined variable: *NUM-3*

NIL

In [223]:
(defparameter *age* 23)

*AGE*

In [228]:
(unless (not (>= *age* 18))
    (format t " You can vote ~%")
)

 You can vote

NIL

### defconstant 
This macro causes the global variable named by name to be given a value that is the result of evaluating initial-value.

A constant defined by defconstant can be redefined with defconstant. The consequences are undefined if an attempt is made to assign a value to the symbol using another operator, or to assign it to a different value using a subsequent defconstant.

The consequences are undefined if there are any bindings of the variable named by name at the time defconstant is executed or if the value is not eql to the value of initial-value.

The consequences are undefined when constant symbols are rebound as either lexical or dynamic variables. In other words, a reference to a symbol declared with defconstant always refers to its global value.

In [253]:
(defconstant age-constant 21)

AGE-CONSTANT

In [254]:
AGE-CONSTANT

21

### catch
Catch macro is used as the destination of a non-local control transfer by throw. Tags are used to find the catch to which a throw is transferring control. 

    (catch 'foo form) 
    
catches a 

    (throw 'foo form) 
    
but not a 
    
    (throw 'bar form).

The order of execution of catch follows:

1. Tag is evaluated. It serves as the name of the catch.
2. Forms are then evaluated, and the results of the last form are returned unless a throw occurs.
3. If a throw occurs during the execution of one of the forms, control is transferred to the catch form whose tag is eq to the tag argument of the throw and which is the most recently established catch with that tag. No further evaluation of forms occurs.
4. The tag established by catch is disestablished just before the results are returned.

If during the execution of one of the forms, a throw is executed whose tag is eq to the catch tag, then the values specified by the throw are returned as the result of the dynamically most recently established catch form with that tag.

The mechanism for catch and throw works even if throw is not within the lexical scope of catch. throw must occur within the dynamic extent of the evaluation of the body of a catch with a corresponding tag.

In [258]:
(catch 'dummy-tag 1 2 (throw 'dummy-tag 3) 4)

3

In [259]:
(catch 'dummy-tag 1 2 3 4)

4

In [260]:
(defun throw-back (tag) (throw tag t))

THROW-BACK

In [261]:
(catch 'dummy-tag (throw-back 'dummy-tag) 2)

T

In [262]:
;; Contrast behavior of this example with corresponding example of BLOCK.
(catch 'c
  (flet ((c1 () (throw 'c 1)))
    (catch 'c (c1) (print 'unreachable))
    2))

2

#### Loop

Loop expressions have the following parts: 
- expressions that set up variables that will be iterated, 
- expressions that conditionally terminate the iteration, 
- expressions that do something on each iteration, and 
- expressions that do something right before the Loop exits.

loop executes code a defined number of times <br>
Create a list using numbers 1 through 10

In [ ]:
(loop for x from 1 to 10
    do(print x))

In [263]:
(loop for x in '(a b c d e)
      do (print x) )

A
B
C
D
E

NIL

 Iterate through two lists in parallel, and cons up a result that is returned as a value by Loop.

In [264]:
(loop for x in '(a b c d e)
      for y in '(1 2 3 4 5)
      collect (list x y) )

((A 1) (B 2) (C 3) (D 4) (E 5))

Iterate using a counter, and a variable whose value is computed from an expression on each iteration.

In [265]:
(loop for x from 1 to 5
      for y = (* x 2)
      collect y)

(2 4 6 8 10)

Iterate through a list, and have a counter iterate in parallel.  The length of the list determines when the iteration ends.  Two sets of actions are defined, one of which is executed conditionally.

In [271]:
(loop for x in '(a b c d e)
      for y from 1
      when (> y 1)
      do (format t ", ")
      do (format t "~A" x)
      )

A, B, C, D, E

NIL

In [273]:
(loop for x in '(a b c d e)
      for y from 1
      if (> y 1)
      do (format t ", ~A" x)
      else do (format t "~A" x)
      )

A, B, C, D, E

NIL

Loop until the when condition calls return

In [1]:
(setq x 1)
(loop
    (format t "~d ~%" x)
    (setq x (+ x 1))
    (when (> x 10) (return x))
)

1
2
3
4
5
6
7
8
9
10

SIMPLE-WARNING:
undefined variable: X
SIMPLE-WARNING:
undefined variable: X

11

Loops can be nested in various ways

In [13]:
(loop for x from 1 to 10
      collect (loop for y from 1 to x 
            collect y) )

((1) (1 2) (1 2 3) (1 2 3 4) (1 2 3 4 5) (1 2 3 4 5 6) (1 2 3 4 5 6 7)
 (1 2 3 4 5 6 7 8) (1 2 3 4 5 6 7 8 9) (1 2 3 4 5 6 7 8 9 10))

Several variables can loop through the components of a complex list to destructure it.

In [10]:
(loop for (a b) in '((x 1) (y 2) (z 3))
      collect (list b a) )

((1 X) (2 Y) (3 Z))

Destructuring works for dotted pairs too.

In [8]:
(loop for (x . y) in '((1 . 1) (2 . 4) (3 . 9)) collect y)

(1 4 9)

# Lists and Conses

(a b c)               ;A list of three symbols 
(2.0s0 (a 1) #\*)     ;A list of three things: a short floating-point 
                      ; number, another list, and a character object

(a . 4)         ;A cons whose car is a symbol 
                ; and whose cdr is an integer 
(a b c . d)     ;A dotted list with three elements whose last cons 
                ; has the symbol d in its cdr

Link together 2 objects of data

In [49]:
(cons 'superman 'batman)

(SUPERMAN . BATMAN)

Create a list with list

In [50]:
(list 'superman 2 9.0)

(SUPERMAN 2 9.0)

Add item to the front of another list

In [51]:
(cons 'aquaman '(superman batman))

(AQUAMAN SUPERMAN BATMAN)

Get the first item out of a list with car

In [52]:
(car '(superman batman aquaman))

SUPERMAN

Get everything but the first item with cdr

In [53]:
(cdr '(superman batman aquaman))

(BATMAN AQUAMAN)

Get the 2nd item d = (batman flash joker) a = (batman)

In [54]:
 (cadr '(superman batman aquaman flash joker))

BATMAN

Get the 3rd item = aquaman

In [55]:
(caddr '(superman batman aquaman flash joker))

AQUAMAN

Get the 4th item (Max you can go)

In [56]:
(cadddr '(superman batman aquaman flash joker))

FLASH

Get the 4th item = joker

In [61]:
(cddddr '(superman batman aquaman flash joker))

(JOKER)

In [62]:
'((superman batman) (aquaman flash joker) (wonderwoman catwoman))

((SUPERMAN BATMAN) (AQUAMAN FLASH JOKER) (WONDERWOMAN CATWOMAN))

Get the 2nd item in the second list <br>
> d : (aquaman flash joker) (wonderwoman catwoman) <br>
a : (aquaman flash joker) <br>
d : (flash joker) <br>
a : (flash) <br>

In [63]:
(cadadr '((superman batman) (aquaman flash joker) (wonderwoman catwoman)))

FLASH

Get the 3rd item in the 2nd list = joker

In [64]:
(cddadr '((superman batman) (aquaman flash joker) (wonderwoman catwoman)))

(JOKER)

Is 3 a member of the list?

In [70]:
(if (member 3 '(2 4 6)) t nil)

NIL

Combine lists into 1 list

In [71]:
(append '(just) '(some) '(random words))

(JUST SOME RANDOM WORDS)

Push an item on the front of a list

In [72]:
(defparameter *nums* '(2 4 6))
(push 1 *nums*)

(1 2 4 6)

Get the nth value from a list

In [74]:
*nums*

(1 2 4 6)

In [77]:
(nth 3 *nums*)

6

Create a list which uses a symbol to describe the data

In [78]:
(defvar superman (list :name "Superman" :secret-id "Clark Kent"))

SUPERMAN

This list will hold heroes

In [79]:
(defvar *hero-list* nil)

*HERO-LIST*

Adds items to our list

In [80]:
(push superman *hero-list*)

((:NAME "Superman" :SECRET-ID "Clark Kent"))

Cycle through all heros in the list and print them out

In [81]:
(dolist (hero *hero-list*)

    ;; Surround with ~{ and ~} to automatically grab data from list
    (format t "~{~a : ~a ~}~%" hero)
)
(push superman *hero-list*)

NAME : Superman SECRET-ID : Clark Kent

((:NAME "Superman" :SECRET-ID "Clark Kent")
 (:NAME "Superman" :SECRET-ID "Clark Kent"))

Cycle through all heros in the list and print them out

#### Association List

The hero name represents the key

In [82]:
(defparameter *heroes*
    '((Superman (Clark Kent))
    (Flash (Barry Allen))
    (Batman (Bruce Wayne))))

*HEROES*

Get the key value with assoc

In [84]:
(format t "Superman Data ~a ~%" (assoc 'superman *heroes*))

Superman Data (SUPERMAN (CLARK KENT))

NIL

Get secret identity

In [88]:
(format t "Superman is ~a ~%" (cadr (assoc 'superman *heroes*)))

Superman is (CLARK KENT)

NIL

### Funtions

Create a function that says hello

When a function call is evaluated, the interpreter first evaluates each of the arguments in the list, and then applies the specified function to the result.

Get average

In [89]:
(defun get-avg (num-1 num-2)
    (/ (+ num-1 num-2) 2 ))

GET-AVG

In [90]:
(get-avg 10 50)

30

You can define some parameters as optional in a function with $&optional$

In [91]:
(defun print-list (w x &optional y z)
    (format t "List = ~a ~%" (list w x y z))
)

(print-list 1 2 3)

List = (1 2 3 NIL)

NIL

Receive multiple values with $&rest$

In [92]:
(defvar *total* 0)

(defun sum (&rest nums)
    (dolist (num nums)
        (setf *total* (+ *total* num))
    )
    *total*
)

SUM

In [93]:
(sum 1 2 3 4 5 9)

24

In [94]:
(+ 1 2 3 4 5 9)

24

Keyword parameters are used to pass values to specific variables

In [95]:
(defun print-list(&optional &key x y z)
    (format t "List: ~a ~%" (list x y z))
)

(print-list :x 1 :y 2)

List: (1 2 NIL)

REDEFINITION-WITH-DEFUN:
  redefining CL-JUPYTER-USER::PRINT-LIST in DEFUN

NIL

Functions by default return the value of the last expression <br>
You can also return a specific value with return-from followed by the 
 function name

In [96]:
(defun difference (num1 num2)
    (return-from difference(- num1 num2))
)

DIFFERENCE

In [97]:
(difference 10 2)

8

Higher Order Functions <br>
You can use functions as data

In [105]:
(defun times-3 (x) (* 3 x))
(defun times-4 (x) (* 4 x))

TIMES-4

Pass in the function without attributes just like a variable

In [110]:
(defun multiples (mult-func max-num)
    (dotimes (x max-num)
        (format t "~d : ~d~%" x (funcall mult-func x))))

REDEFINITION-WITH-DEFUN:
  redefining CL-JUPYTER-USER::MULTIPLES in DEFUN

MULTIPLES

In [111]:
(multiples #'times-3 10)

0 : 0
1 : 3
2 : 6
3 : 9
4 : 12
5 : 15
6 : 18
7 : 21
8 : 24
9 : 27

NIL

In [112]:
(multiples #'times-4 10)

0 : 0
1 : 4
2 : 8
3 : 12
4 : 16
5 : 20
6 : 24
7 : 28
8 : 32
9 : 36

NIL

#### Lambda

The lambda command allows you to create a function without giving it a name <br>
You can also pass this function just like you pass variables <br>
Multiply every item in a list

In [21]:
(mapcar (lambda (x) (* x 2)) '(1 2 3 4 5))

(2 4 6 8 10)

Check if every item in a list is a number

In [22]:
(mapcar #'numberp '(1 2 3 f g))

(T T T NIL NIL)

#### Classes

$defclass$ defines your custom data type <br>  

You can define a class with defclass:

    (DEFCLASS class-name (superclass-name*)
      (slot-description*)
      class-option*)

In [36]:
(defclass animal ()
    (name
    sound))

#<STANDARD-CLASS CL-JUPYTER-USER::ANIMAL>

Create an animal object

In [37]:
(defparameter *dog* (make-instance 'animal))

*DOG*

Set the values for dog

In [42]:
(setf (slot-value *dog* 'name) "Lola")

"Lola"

In [43]:
(setf (slot-value *dog* 'sound) "Woof")

"Woof"

Get the values for dog

In [44]:
(format t "~a says ~a ~%" 
    (slot-value *dog* 'name) 
    (slot-value *dog* 'sound))

Lola says Woof

NIL

 You can define initialization options for objects <br>
 - :initarg defines the key used to assign to the slot <br>
 - :initform defines a default value  <br>
You can define an error message if an attribute isn't provided <br>
 - :accessor generates getter and setters for the slot using the name you provide.  <br>
You could use :reader mammal-sound to generate only a getter <br>
You could use :writer (setf mammal-sound) to generate only a setter

In [45]:
(defclass mammal ()
    ((name
        :initarg :name
        :initform (error "Must provide a name"))
    (sound
        :initarg :sound
        :initform "No Sound"
        :accessor mammal-sound)
    )
)

#<STANDARD-CLASS CL-JUPYTER-USER::MAMMAL>

In [46]:
(defparameter *king-kong*
    (make-instance 'mammal :name "King Kong" :sound "Rawwwr")
)

*KING-KONG*

Output data on the mammal

In [47]:
(format t "~a says ~a ~%" 
    (slot-value *king-kong* 'name) 
    (slot-value *king-kong* 'sound))

King Kong says Rawwwr

NIL

### Arrays

Create an array with 3 storage areas

In [113]:
(defparameter names (make-array 3))

NAMES

Add a value to an array

In [114]:
(setf (aref names 1) 'Bob)

BOB

Get a value in an index

In [115]:
(aref names 1)

BOB

Make a 3 by 3 array

In [118]:
(setf num-array (make-array '(3 3)
    :initial-contents '((0 1 2) (3 4 5) (6 7 8))))

SIMPLE-WARNING:
undefined variable: NUM-ARRAY

#2A((0 1 2) (3 4 5) (6 7 8))

Cycle through and print the array

In [120]:
(dotimes (x 3)
    (dotimes (y 3)
        (print (aref num-array x y))))

0
1
2
3
4
5
6
7
8

SIMPLE-WARNING:
undefined variable: NUM-ARRAY

NIL

### Hash table 
A collection of key value pairs

Create a hash table

In [31]:
(defparameter people (make-hash-table))

PEOPLE

Set the key as 102 and the value to Paul Smith

In [32]:
(setf (gethash '102 people) '(Paul Smith))
(setf (gethash '103 people) '(Sam Smith))

(SAM SMITH)

Get the value stored in the key 102

In [33]:
(gethash '102 people)

(PAUL SMITH)

maphash executes a function on each item

In [34]:
(maphash #'(lambda (k v) (format t "~a = ~a~%" k v)) people)

102 = (PAUL SMITH)
103 = (SAM SMITH)

NIL

Remove an entry with the key

In [35]:
(remhash '103 people)

T

### Structures
A user defined data type with multiple different data types

Define the data names in the struct

In [23]:
(defstruct customer name address id)

CUSTOMER

Store data in the struct

In [24]:
(setq paulsmith (make-customer 
    :name "Paul Smith"
    :address "123 Main St"
    :id 1000))

SIMPLE-WARNING:
undefined variable: PAULSMITH

#S(CUSTOMER :NAME "Paul Smith" :ADDRESS "123 Main St" :ID 1000)

Get a value stored

In [26]:
(customer-name paulsmith)

"Paul Smith"

Change a value in the struct

In [28]:
(setf (customer-address paulsmith) "125 Main St")

SIMPLE-WARNING:
undefined variable: PAULSMITH

"125 Main St"

In [29]:
(write paulsmith)

#S(CUSTOMER :NAME "Paul Smith" :ADDRESS "125 Main St" :ID 1000)

#S(CUSTOMER :NAME "Paul Smith" :ADDRESS "125 Main St" :ID 1000)

In [30]:
(setq sally-smith-1001 (make-customer 
    :name "Sally Smith"
    :address "123 Main St"
    :id 1001
))

SIMPLE-WARNING:
undefined variable: SALLY-SMITH-1001

#S(CUSTOMER :NAME "Sally Smith" :ADDRESS "123 Main St" :ID 1001)