# LISP tutorial

## Introduction

### commenting

In [40]:
;;; Comment
;; Comment that is indented with code
; Comment after a line of code

#||
Multiline Comment
||#

;;; ~% prints a newline with format
(format t "Hello world~%")

Hello world

Nil

In [141]:
(+ 2 "hola")

Type-Error:
  #<Type-Error expected-type: Number datum: "hola">

Nil

In [142]:
(setq i 5)
(print i)
(setq i "Hello")
(print i)

5
"Hello"

Simple-Warning:
undefined variable: I
Simple-Warning:
undefined variable: I

"Hello"

In [143]:
(defun compose (f g) 
  #'(lambda (x) 
      (funcall f (funcall g x))))

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Compose in DEFUN

Compose

In [144]:
(defun copy-cell (x) (cons (car x) (cdr x)))

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Copy-Cell in DEFUN

Copy-Cell

In [145]:
(funcall (compose #'sqrt #'abs) -9.0)

3.0

#### printing

In [146]:
(print "hello world")

"hello world"

"hello world"

In [154]:
(format t "Hello world ~%")

Hello world

Nil

In [148]:
(print "What's your name")

"What's your name"

"What's your name"

for naming variables you can use
 - letters(lower case) numebrs + - _ * > < ? ! ...<br>
 
Do nor use spaces<br>
Lisp is not case sentitive<br>

The format statement starts with t to print to the console <br>
The control sequence begins with a ~ <br>
>   ~a : Shows the value <br>
~s : Shows quotes around the value <br> 
~10a : Adds 10 spaces for the value with extra space to the right <br>
~10@a : Adds 10 spaces for the value with extra space to the lef <br>

A form is a list with a command function name at the beginning  <br>
Everything that follows the command is sent as parameters to the function

In [155]:
(+ 5 4)

9

You can nest a form inside of a form

In [156]:
(+ 5 (- 6 2))

9

You define a Data Mode command by proceeding with a quote '

In [157]:
'(+ 5 4)

(+ 5 4)

Everything is a list in which each piece is held in a Cons Cell (Consecutive Cell) <br>
 [+] [5] [4] [nil] with nil defining the end of the list

Format

In [161]:
(terpri)

Nil

In [160]:
(format t "Number with commas ~:d" 10000000) (terpri)

(format t "PI to 5 characters ~5f" 3.141593) (terpri)

(format t "PI to 4 decimals ~,4f" 3.141593) (terpri)

(format t "10 Percent ~,,2f" .10) (terpri)

(format t "10 Dollars ~$ ~%" 10)

Number with commas 10,000,000
PI to 5 characters 3.142
PI to 4 decimals 3.1416
10 Percent 10.0
10 Dollars 10.00

Nil

## Numbers

Numbers are provided in various forms and representations.

## Integers

The  integer  data  type  is  intended  to  represent mathematical integers. Common LISP imposes no limit on the magnitude of an integer; storage is automatically allocated as necessary to represent large integers.

Zero

In [44]:
0

0

In [45]:
-0

0

Digit with a point still an integer

In [54]:
1.

1

In [42]:
15511210043330985984000000

15511210043330985984000000

two types of integers, bignum and fixnum

In [56]:
most-positive-fixnum

4611686018427387903

In [57]:
most-negative-fixnum

-4611686018427387904

## Ratios

Rational numbers may be written as the possibly signed quotient of decimal numerals: an optional sign followed by two non-empty sequences of digits separated by a /. This syntax may be described as follows:

 ratio ::= [sign] {digit}+ / {digit}+

In [59]:
2/3                 ;This is in canonical form

2/3

In [61]:
4/6   ;A non-canonical form for the same number

2/3

In [60]:
-17/23

-17/23

In [63]:
-30517578125/32768

-30517578125/32768

In [64]:
10/5                ;The canonical form for this is 2

2

## Floation-point numbers

Floating-point numbers may be provided in a variety of precisions and sizes. Certain definitions are made here:

-  A short floating-point number (type short-float) is of the representation of smallest fixed precision.
- A long floating-point number (type long-float) is of the representation of the largest fixed precision.
- Intermediate between short and long formats are two others, arbitrarily called single and double (types single-float and double-float).

The exponent specifier consists of an exponent marker, an optional sign, and a non-empty sequence of digits. For preciseness, here is a modified-BNF description of floating-point notation.

floating-point-number ::= [sign] {digit}* decimal-point {digit}* [exponent]
                        | [sign] {digit}+ [decimal-point {digit}*] exponent
sign ::= + | -
decimal-point ::= .
digit ::= 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9
exponent ::= exponent-marker [sign] {digit}+
exponent-marker ::= e | s | f | d | l | E | S | F | D | L

The letters s, f, d, and l (or their respective uppercase equivalents) explicitly specify the use of short, single, double, and long format, respectively.

In [65]:
0.0     ;Floating-point zero in default format

0.0

In [66]:
0E0     ;Also floating-point zero in default format

0.0

In [67]:
-.0      ;This may be a zero or a minus zero, 
         ; depending on the implementation

-0.0

In [69]:
0.0s0     ;A floating-point zero in short format

0.0

In [70]:
0s0       ;Also a floating-point zero in short format

0.0

In [71]:
3.1415926535897932384d0     ;A double-format approximation to

3.141592653589793d0

In [72]:
PI

3.141592653589793d0

In [73]:
6.02E+23                    ;Avogadro's number, in default format

6.02e23

In [74]:
602E+21                     ;Also Avogadro's number, in default format

6.02e23

## Complex Numbers

Complex numbers may be notated by writing the characters #C followed by a list of the real and imaginary parts. Both parts must be of the same type: either both are rational, or both are of the same floating-point format.

In [81]:
#C(0 1)              ;The imaginary unit, that is, i

#C(0 1)

In [82]:
(sqrt -1)

#C(0.0 1.0)

In [79]:
#C(3.0s1 2.0s-1)     ;Real and imaginary parts are short format

#C(30.0 0.2)

In [80]:
#C(5/3 7.0)          ;Will be converted internally to #C(1.66666 7.0)

#C(1.6666666 7.0)

# Math Functions

In [84]:
(format t "(+ 5 4) = ~d ~%" (+ 5 4))
(format t "(- 5 4) = ~d ~%" (- 5 4))
(format t "(* 5 4) = ~d ~%" (* 5 4))
(format t "(/ 5 4) = ~d ~%" (/ 5 4)) ; = 5/4
(format t "(/ 5 4.0) = ~d ~%" (/ 5 4.0)) ; = 1.25
(format t "(rem 5 4) = ~d ~%" (rem 5 4)) ; = 1 Returns the remainder
(format t "(mod 5 4) = ~d ~%" (mod 5 4)) ; = 1 Returns the remainder
 
(format t "(expt 4 2) = ~d ~%" (expt 4 2)) ; = Exponent 4^2
(format t "(sqrt 81) = ~d ~%" (sqrt 81)) ; = 9
(format t "(exp 1) = ~d ~%" (exp 1)) ; = e^1
(format t "(log 1000 10) = ~d ~%" (log 1000 10)) ; = 3 = Because 10^3 = 1000
(format t "(eq 'dog 'dog) = ~d ~%" (eq 'dog 'dog)) ; = T Check Equality
(format t "(floor 5.5) = ~d ~%" (floor 5.5)) ; = 5
(format t "(ceiling 5.5) = ~d ~%" (ceiling 5.5)) ; = 6
(format t "(max 5 10) = ~d ~%" (max 5 10)) ; = 10
(format t "(min 5 10) = ~d ~%" (min 5 10)) ; = 5
(format t "(oddp 15) = ~d ~%" (oddp 15)) ; = T Check if 15 is odd 
(format t "(evenp 15) = ~d ~%" (evenp 15)) ; = NIL = FALSE Check if 15 is even 
(format t "(numberp 2) = ~d ~%" (numberp 2)) ; = T Is 2 a number
(format t "(null nil) = ~d ~%" (null nil)) ; = T Is something equal to nil

(+ 5 4) = 9
(- 5 4) = 1
(* 5 4) = 20
(/ 5 4) = 5/4
(/ 5 4.0) = 1.25
(rem 5 4) = 1
(mod 5 4) = 1
(expt 4 2) = 16
(sqrt 81) = 9.0
(exp 1) = 2.7182817
(log 1000 10) = 3.0
(eq 'dog 'dog) = T
(floor 5.5) = 5
(ceiling 5.5) = 6
(max 5 10) = 10
(min 5 10) = 5
(oddp 15) = T
(evenp 15) = Nil
(numberp 2) = T
(null nil) = T

Nil

There is also sin, cos, tan, asin, acos, atan

# Characters

Characters are represented as data objects of type character. A character object can be notated by writing #\ followed by the character itself.

In [85]:
#\g ;means the character object for a lowercase g.

#\g

In [86]:
#\Space  ; #\Space (or #\SPACE or #\space or #\sPaCE)
         ; means the space character.

#\

In [91]:
#\Escape

#\Esc

# Symbols

In [97]:
FROBBOZ         ;The symbol whose name is FROBBOZ 
frobboz         ;Another way to notate the same symbol 
fRObBoz         ;Yet another way to notate it 
unwind-protect  ;A symbol with a - in its name 
+$              ;The symbol named +$ 
1+              ;The symbol named 1+ 
+1              ;This is the integer 1, not a symbol 
pascal_style    ;This symbol has an underscore in its name 
b^2-4*a*c       ;This is a single symbol! 
                ; It has several special characters in its name 
file.rel.43     ;This symbol has periods in its name 
/usr/games/zork ;This symbol has slashes in its name

Unbound-Variable:
  #<Unbound-Variable Frobboz {1004812493}>

Nil

In [96]:
\(       ;The symbol whose name is ( 
\+1       ;The symbol whose name is +1 
+\1       ;Also the symbol whose name is +1 
\frobboz   ;The symbol whose name is fROBBOZ 
3.14159265\s0   ;The symbol whose name is 3.14159265s0 
3.14159265\S0   ;A different symbol, whose name is 3.14159265S0 
3.14159265s0    ;A short-format floating-point approximation to  
APL\\360     ;The symbol whose name is APL 360 
apl\\360     ;Also the symbol whose name is APL 360 
\(b^2\)\ -\ 4*a*c      ;The name is (B^2) - 4*A*C; 
                       ; it has parentheses and two spaces in it 
\(\b^2\)\ -\ 4*\a*\c   ;The name is (b^2) - 4*a*c; 
                       ; the letters are explicitly lowercase

Unbound-Variable:
  #<Unbound-Variable (Tt {10047B88B3}>

Nil

In [ ]:
|"|               ;The same as writing \" 
|(b^2) - 4*a*c|   ;The name is (b^2) - 4*a*c 
|frobboz|         ;The name is frobboz, not FROBBOZ 
|APL\360|         ;The name is APL360, because the \ quotes the 3 
|APL\\360|        ;The name is APL\360 
|apl\\360|        ;The name is apl\360 
|\|\||            ;Same as \|\|: the name is || 
|(B^2) - 4*A*C|   ;The name is (B^2) - 4*A*C; 
                  ; it has parentheses and two spaces in it 
|(b^2) - 4*a*c|   ;The name is (b^2) - 4*a*c

# Forms
The standard unit of interaction with a Common Lisp implementation is the form, which is simply a data object meant to be evaluated as a program to produce one or more values (which are also data objects).

One may request evaluation of any data object, but only certain ones are meaningful. For instance, symbols and lists are meaningful forms, while arrays normally are not. Examples of forms are 3, whose value is 3, and (+ 3 4), whose value is 7.

Forms may be divided into three categories: self-evaluating forms, such as numbers; symbols, which stand for variables; and lists. The lists in turn may be divided into three categories: special forms, macro calls, and function calls.

## Self-Evaluating Forms
All numbers, characters, strings, and bit-vectors are self-evaluating forms. When such an object is evaluated, that object (or possibly a copy in the case of numbers or characters) is returned as the value of the form. The empty list (), which is also the false value nil, is also a self-evaluating form: the value of nil is nil. Keywords (symbols written with a leading colon) also evaluate to themselves: the value of :start is :start.

## Variables
Symbols are used as names of variables in Common Lisp programs. 
There are actually two kinds of variables in Common Lisp, called lexical (or static) variables and special (or dynamic) variables. At any given time either or both kinds of variable with the same name may have a current value. Which of the two kinds of variable is referred to when a symbol is evaluated depends on the context of the evaluation. The general rule is that if the symbol occurs textually within a program construct that creates a binding for a variable of the same name, then the reference is to the variable specified by the binding; if no such program construct textually contains the reference, then it is taken to refer to the special variable of that name.

In [204]:
(setq items 3)

Simple-Warning:
undefined variable: Items

3

Certain global variables are reserved as ''named constants''. They have a global value and may not be bound or assigned to. For example, the symbols t and nil are reserved. One may not assign a value to t or nil, and one may not bind t or nil. The global value of t is always t, and the global value of nil is always nil. Constant symbols defined by defconstant also become reserved and may not be further assigned to or bound (although they may be redefined, if necessary, by using defconstant again). Keyword symbols, which are notated with a leading colon, are reserved and may never be assigned to or bound; a keyword always evaluates to itself.

In [208]:
(defvar *name* "Lalo") ;  for receiving data

*Name*

In [209]:
(defun hello-you (*name*)
    (format t "Hello ~a! ~%" *name*))

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Hello-You in DEFUN

Hello-You

In [212]:
(hello-you *name*)

Hello Gary!

Nil

In [213]:
*name*

Gary

Change the value of a variable with setf

In [216]:
(defvar *number*)
(setf *name* 6)
*name*

6

### Predicates

These are functions that apply some test one or two values (variables or expressions evaluated before the test is applied) and either succeed (evaluating to t) or fail (evaluating to nil).

- atom: true if its single argument is an atom.

In [127]:
(atom 2)

T

In [128]:
(atom #C(2 5))

T

In [129]:
(atom "this-is-a-string")

T

In [133]:
(atom '(1 2 3))

NIL

- consp: true if its single argument is a symbol.

In [181]:
(consp '(1 2 3))

T

- symbolp: true if its single argument is a symbol.

In [138]:
(symbolp *name*)

T

In [139]:
(symbolp 'anything)

T

- numberp: true if its single argument is a number.

In [140]:
(numberp (+ 3 4))

T

- listp: true if its single argument is a (true or dotted) list.

In [151]:
(listp '(a b 4 "hey"))

T

- null: true if its single argument is the empty list (() or nil).

In [152]:
(null t)

NIL

- eq: true if its two arguments are the same identical object. Because of the way LISP handles symbols, a given name always maps to the same symbol, so something like (eq 'a 'a) is always true.

In [169]:
(defparameter *name* 'Lalo)

*NAME*

In [166]:
(eq (list 1 2 3) (list 1 2 3)))

NIL

In [175]:
(eq 1.0 1)

NIL

- equalp: compare strings of any case and integers to floats

In [167]:
(eql (list 1 2 3) (list 1 2 3))

NIL

In [173]:
(equalp 1.0 1)

T

In [174]:
(equalp "Lalo" "lalo")

T

- equal: true if its two arguments are isomorphic, i.e. their printed representation is the same.

In [172]:
(equal *name* 'Lalo)

T

In [155]:
(equal 10 10)

T

In [156]:
(equal 5.5 5.3)

NIL

In [168]:
(equal (list 1 2 3) (list 1 2 3))

T

In [177]:
(equal 1.0 1)

NIL

In [178]:
(equal "Lalo" "lalo")

NIL

### Conditionals
LISP supports the standard comparisons on numbers, but most can take one up to any number of arguments, rather than just two. (In the case of two arguments, they behave in the traditional way.) All of the arguments must be numbers.

- $=$ all arguments equal
 
- $/=$ all arguments differ (no two equal)
 
- $>$ all arguments monotonically increasing
 
- $<$ all arguments monotonically decreasing
 
- $>$= all arguments monotonically non-decreasing
 
- $<=$ all arguments monotonically non-increasing
 
- $zerop$ one argument only - true if the argument is 0

## Special Forms
A special form is a form with special syntax, special evaluation rules, or both, possibly manipulating the evaluation environment, control flow, or both. A special operator has access to the current lexical environment and the current dynamic environment. Each special operator defines the manner in which its subexpressions are treated---which are forms, which are special syntax, etc.
The next expresons are some examples of special forms

### quote
 
quote is a special form that simply passes its unevaluated argument through. For example, the value of (quote a) is the symbol a.
 
As a convenience, the LISP reader considers the an expression of the form 'anything to be equivalent to (quote anything).

In [246]:
'(+ 3 4)

(+ 3 4)

In [242]:
'()

Nil

In [244]:
'nil

Nil

In [225]:
'(defvar *name* "Hey")

(Defvar *Name* "Hey")

In [219]:
'(if test then else)

(If Test
    Then
    Else)

In [227]:
(quote (quote list))

'List

In [226]:
(quote (quote (quote list)))

''List

In [250]:
'#\backslash

#\\

## setq

The special form (setq var1 form1 var2 form2 ...) is the "simple variable assignment statement" of Lisp. 

First form1 is evaluated and the result is stored in the variable var1, then form2 is evaluated and the result stored in var2, and so forth.

__The variables are represented as symbols, of course, and are interpreted as referring to static or dynamic instances according to the usual rules. Therefore setq may be used for assignment of both lexical and special variables.

setq returns the last value assigned, that is, the result of the evaluation of its last argument. As a boundary case, the form (setq) is legal and returns nil.
(setq)
There must be an even number of argument forms. For example, in

In [299]:
(setq p 5)

Simple-Warning:
undefined variable: P

5

In [291]:
(setq a 1 b 2 c 3)

Simple-Warning:
undefined variable: A
Simple-Warning:
undefined variable: B
Simple-Warning:
undefined variable: C

3

In [292]:
(setq a (1+ b) b (1+ a) c (+ a b))

Simple-Warning:
undefined variable: A
Simple-Warning:
undefined variable: B
Simple-Warning:
undefined variable: C

7

In [293]:
a

3

In [294]:
b

4

In [295]:
c

7

In [259]:
(setq x (+ 3 2 1) y (cons x nil))

Simple-Warning:
undefined variable: X
Simple-Warning:
undefined variable: Y

(6)

In [253]:
x

6

In [254]:
y

(6)

Note that the first assignment is performed before the second form is evaluated, allowing that form to use the new value of x.

### let

?????
let create new variable bindings and execute a series of forms that use these bindings.

The form

     (let ((var1 init-form-1)
           (var2 init-form-2)
           ...
           (varm init-form-m))
       form1
       form2
       ...
       formn)

first evaluates the expressions init-form-1, init-form-2, and so on, saving the resulting values. Then all of the variables varj are bound to the corresponding values. The expressions formk are then evaluated.

You can define variables local to only the let body

(let ((var-1 5) (var-2 10)) (... Body ...))

In [303]:
(let ((x_0 5) 
      (x_1 10)) 
         (print (+ x_0 x_1)))

15

15

In [305]:
x_0

Unbound-Variable:
  #<Unbound-Variable X_0 {1003137EE3}>

Nil

In [304]:
x_1

Unbound-Variable:
  #<Unbound-Variable X_1 {10030EB523}>

Nil

In [308]:
x

6

In [306]:
(let ((x 10)) x)

10

In [330]:
(defvar a nil)

A

In [2]:
(setq a 'top)

SIMPLE-WARNING:
undefined variable: A

TOP

In [3]:
(defun dummy-function () a)

SIMPLE-WARNING:
undefined variable: A

DUMMY-FUNCTION

In [4]:
(let ((a 'inside) (b a))
    (format nil "~S ~S ~S" a b (dummy-function)))

SIMPLE-WARNING:
undefined variable: A

"INSIDE TOP TOP"

In [5]:
(let* ((a 'inside) (b a))
    (format nil "~S ~S ~S" a b (dummy-function)))

"INSIDE INSIDE TOP"

In [6]:
(let ((a 'inside) (b a))
    (declare (special a))
    (format nil "~S ~S ~S" a b (dummy-function)))

SIMPLE-WARNING:
undefined variable: A

"INSIDE TOP INSIDE"

In [333]:
a

Top

### if

if allows the execution of a form to be dependent on a single test-form.

First test-form is evaluated. If the result is true, then then-form is selected; otherwise else-form is selected. Whichever form is selected is then evaluated.

(if test then-form else-from)

In [18]:
(if nil (print "true") (print "false"))

"false"

"false"

In [20]:
(if t (print "true") (print "false"))

"true"

"true"

In [21]:
(if 1 (print 'true) (print 'false))

TRUE

TRUE

In [23]:
(if '(a b c) (print "true") (print "false"))

"true"

"true"

## Macros

### defun

Macro for defining named functions. 
The basic syntax is 

    (defun name ( { parameter }* ) { form }*)

Defines a new function named function-name in the global environment.
The body of the function defined by defun consists of forms.

When the function is called, the form(s) constituting the body are evaluated in sequence in a context where any parameter(s) are lexical variables bound to the actual parameters of the call; if there are multiple form(s) the value of the last becomes the value of the function and the others are evaluated only for side-effects.

In [64]:
(defun discriminant (a b c)
  "Compute the discriminant for a quadratic equation."
  (- (* b b) (* 4 a c)))

REDEFINITION-WITH-DEFUN:
  redefining CL-JUPYTER-USER::DISCRIMINANT in DEFUN

DISCRIMINANT

In [42]:
(discriminant 1 2/3 -2)

76/9

### defvar & defparameter

defparameter and defvar establish name as a dynamic variable.

defparameter unconditionally assigns the initial-value to the dynamic variable named name. defvar, by contrast, assigns initial-value (if supplied) to the dynamic variable named name only if name is not already bound.

If no initial-value is supplied, defvar leaves the value cell of the dynamic variable named name undisturbed; if name was previously bound, its old value persists, and if it was previously unbound, it remains unbound.

In [78]:
(defparameter *p* 1)

*P*

In [79]:
*p*

1

In [81]:
(setq *p* 2)

2

In [82]:
*p*

2

In [85]:
(defparameter *p* 3)

*P*

In [86]:
*p*

3

In [87]:
(defvar *v* 1)

*V*

In [91]:
*v*

2

In [89]:
(setq *v* 2)

2

In [91]:
*v*

2

In [90]:
(defvar *v* 3)

*V*

In [91]:
*v*

2

In [93]:
(defun fooo ()
  (let ((*p* 'p) (*v* 'v))
    (bar)))

SIMPLE-STYLE-WARNING:
  undefined function: BAR

FOOO

In [94]:
(defun bar () (list *p* *v*))

BAR

In [95]:
(foo)

(P V)

### lambda
Macro for defining anonymous functions. The basic syntax is
	
    (lambda  ( { parameter }* ) { form }* )
	
When the function is called, the form(s) constituting the body are evaluated in sequence in a context where any parameter(s) are lexical variables bound to the actual parameters of the call; if there are multiple form(s) the value of the last becomes the value of the function and the others are evaluated only for side-effects.

In [101]:
(funcall (lambda (x) (+ x 3)) 4)

7

### cond

cond is a macro that selects one series of expressions out of several to evaluate. It has the following basic form (though variations are possible)
 
    (cond { ( test { form }*) }* )
	
Each test is evaluated in turn until one returns any result other than nil at which point the following form(s) is/are evaluated. The value of the last form evaluated becomes the value of the cond, hence if there is more than one form, any form save the last is evaluated only for its side effects. It is common to see that the last clause of cond has the test t, which of course is always true and constitutes a default case.

    (cond (test then) (t else))

In [27]:
(defvar *x* nil)
(cond (x (format t "yes")) (t (format t "no")))

yes

NIL

### and
Macro with any number of arguments, which are usually all tests - true if all are non-nil - false if any is nil. Does short-circuit evaluation - i.e. stops evaluating arguments as soon as one that is false (nil) is encountered.

In [184]:
(defvar *age* 30)

*AGE*

In [185]:
(if (and (>= *age* 18) (<= *age* 67) )
(format t "Time for work~%")
(format t "Work if you want~%"))

Time for work

NIL

### or
Macro with any number of arguments, which are usually all tests - true if any is non-nil - false if all are nil. Does short-circuit evaluation - i.e. stops evaluating arguments as soon as one that is true (non-nil) is encountered.

In [187]:
(if (or (<= *age* 21) (>= *age* 67) )
(format t "You shouldn't work~%")
(format t "You should work~%"))

You should work

NIL

### when & unless

Allow the execution of forms to be dependent on a single test-form.

In a when form, allows you to execute multiple statements by default.<br>
If the test-form yields true, the forms are evaluated in order from left to right and the values returned by the forms are returned from the when form. <br>
Otherwise, if the test-form yields false, the forms are not evaluated, and the when form returns nil.

In an unless form, it is executed if the expression is false.<br>
If the test-form yields false, the forms are evaluated in order from left to right and the values returned by the forms are returned from the unless form. <br>
Otherwise, if the test-form yields false, the forms are not evaluated, and the unless form returns nil.

In [104]:
(when t 'hello)

HELLO

In [105]:
(unless t 'hello)

NIL

In [106]:
(when nil 'hello)

NIL

In [107]:
(unless nil 'hello)

HELLO

In [108]:
(when t)

NIL

In [109]:
(unless nil)

NIL

In [110]:
(when t (prin1 1) (prin1 2) (prin1 3))

123

3

In [111]:
(unless t (prin1 1) (prin1 2) (prin1 3))

NIL

In [ ]:
(when nil (prin1 1) (prin1 2) (prin1 3))

In [ ]:
(unless nil (prin1 1) (prin1 2) (prin1 3))

In [114]:
(oddp 3)

T

In [112]:
(let ((x 3))
  (list (when  (incf x) (list x))
        (when (oddp x) (incf x) (list x))
        (unless (oddp x) (incf x) (list x))
        (unless (oddp x) (incf x) (list x))
        (if (oddp x) (incf x) (list x)) 
        (if (oddp x) (incf x) (list x)) 
        (if (not (oddp x)) (incf x) (list x)) 
        (if (not (oddp x)) (incf x) (list x))))

((4) NIL (5) NIL 6 (6) 7 (7))

In [ ]:
(when (= *age* 18)
    (setf *num-3* 18)
    (format t "Go to college you're ~d ~%" *num-3*)
)

In [ ]:
(unless (not (= *age* 18))
    (setf *num-3* 20)
    (format t "Something Random ~%")
)

### progn 

This macro evaluates forms, in the order in which they are given.

The values of each form but the last are discarded.

If progn appears as a top level form, then all forms within that progn are considered by the compiler to be top level forms.

In [115]:
(progn)

NIL

In [116]:
(progn 1 2 3)

3

In [117]:
(progn (values 1 2 3))

1

In [118]:
(setq a 1)

SIMPLE-WARNING:
undefined variable: A

1

In [119]:
(if a
      (progn (setq a nil) 'here)
      (progn (setq a t) 'there))

SIMPLE-WARNING:
undefined variable: A

HERE

In [120]:
a

NIL

### defconstant 
This macro causes the global variable named by name to be given a value that is the result of evaluating initial-value.

A constant defined by defconstant can be redefined with defconstant. The consequences are undefined if an attempt is made to assign a value to the symbol using another operator, or to assign it to a different value using a subsequent defconstant.

If documentation is supplied, it is attached to name as a documentation string of kind variable.

defconstant normally appears as a top level form, but it is meaningful for it to appear as a non-top-level form. However, the compile-time side effects described below only take place when defconstant appears as a top level form.

The consequences are undefined if there are any bindings of the variable named by name at the time defconstant is executed or if the value is not eql to the value of initial-value.

The consequences are undefined when constant symbols are rebound as either lexical or dynamic variables. In other words, a reference to a symbol declared with defconstant always refers to its global value.

The side effects of the execution of defconstant must be equivalent to at least the side effects of the execution of the following code:

 (setf (symbol-value 'name) initial-value)
 (setf (documentation 'name 'variable) 'documentation)

### catch
Catch macro is used as the destination of a non-local control transfer by throw. Tags are used to find the catch to which a throw is transferring control. 

    (catch 'foo form) 
    
catches a 

    (throw 'foo form) 
    
but not a 
    
    (throw 'bar form).

The order of execution of catch follows:

1. Tag is evaluated. It serves as the name of the catch.
2. Forms are then evaluated, and the results of the last form are returned unless a throw occurs.
3. If a throw occurs during the execution of one of the forms, control is transferred to the catch form whose tag is eq to the tag argument of the throw and which is the most recently established catch with that tag. No further evaluation of forms occurs.
4. The tag established by catch is disestablished just before the results are returned.

If during the execution of one of the forms, a throw is executed whose tag is eq to the catch tag, then the values specified by the throw are returned as the result of the dynamically most recently established catch form with that tag.

The mechanism for catch and throw works even if throw is not within the lexical scope of catch. throw must occur within the dynamic extent of the evaluation of the body of a catch with a corresponding tag.

In [121]:
(catch 'dummy-tag 1 2 (throw 'dummy-tag 3) 4)

3

In [122]:
(catch 'dummy-tag 1 2 3 4)

4

In [123]:
(defun throw-back (tag) (throw tag t))

THROW-BACK

In [124]:
(catch 'dummy-tag (throw-back 'dummy-tag) 2)

T

In [125]:
;; Contrast behavior of this example with corresponding example of BLOCK.
(catch 'c
  (flet ((c1 () (throw 'c 1)))
    (catch 'c (c1) (print 'unreachable))
    2))

2

In [203]:
(defparameter *num* 2)
(defparameter *num-2* 2)
(defparameter *num-3* 2)

(if (= *num* 2)
    (progn 
        (setf *num-2* (* *num-2* 2))
        (setf *num-3* (* *num-3* 3))
    ))

6

In [84]:
Case performs certain actions depending on conditions
(defun get-school (age)
    (case age
        (5 (print "Kindergarten"))
        (6 (print "First Grade"))
        (otherwise '(middle school))
    ))

(get-school 5)

"Kindergarten"

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Get-School in DEFUN

"Kindergarten"

In [87]:
(defvar *college-ready* nil)

(cond ( (>= *age* 18) ; If T do this
        (setf *college-ready* 'yes)
        (format t "Ready for College ~%"))
      ( (< *age* 18) ; Else If T do this
        (setf *college-ready* 'no)
        (format t "Not Ready for College ~%"))
      (t (format t "Don't Know ~%"))) ; Else do this by default (t is for true)

Ready for College

Nil

#### Loop

The Loop Macro is one of the most valuable, and least-well documented of the operations in Common Lisp. It is valuable because it is more powerful, more compact, and more readable than comparable Common Lisp constructs such as mapping operations and recursion. It also uses a programming style that will be familiar to programmers who have worked with other more traditional languages. This short guide provides examples of how to use the Loop Macro.

The Loop macro is different than most Lisp expressions in having a complex internal syntax that is more similar to programming languages like C or Pascal. So you need to read Loop expressions with half of your brain in Lisp mode, and the other half in Pascal mode.

Think of Loop expressions as having four parts: expressions that set up variables that will be iterated, expressions that conditionally terminate the iteration, expressions that do something on each iteration, and expressions that do something right before the Loop exits. In addition, Loop expressions can return a value. It is very rare to use all of these parts in a given Loop expression, but you can combine them in many ways.

loop executes code a defined number of times <br>
Create a list using numbers 1 through 10

In [44]:
(loop for x in '(a b c d e)
      do (print x) )

A
B
C
D
E

NIL

In [43]:
(loop for x from 1 to 10
    do(print x))

1
2
3
4
5
6
7
8
9
10

NIL

 Iterate through two lists in parallel, and cons
 up a result that is returned as a value by Loop.
Note that keywords "append" and "nconc" are available
in addition to collect.

In [45]:
(loop for x in '(a b c d e)
      for y in '(1 2 3 4 5)
      collect (list x y) )

((A 1) (B 2) (C 3) (D 4) (E 5))

;; Iterate using a counter, and a variable whose value
;; is computed from an expression on each iteration.

In [46]:
(loop for x from 1 to 5
      for y = (* x 2)
      collect y)

(2 4 6 8 10)

;; Iterate through a list, and have a counter iterate
;; in parallel.  The length of the list determines when
;; the iteration ends.  Two sets of actions are defined,
;; one of which is executed conditionally.

In [47]:
(loop for x in '(a b c d e)
      for y from 1

      when (> y 1)
      do (format t ", ")

      do (format t "~A" x)
      )

A, B, C, D, E

NIL

In [48]:
(loop for x in '(a b c d e)
      for y from 1

      if (> y 1)
      do (format t ", ~A" x)
      else do (format t "~A" x)
      )

A, B, C, D, E

NIL

Loop until the when condition calls return

In [90]:
(setq x 1)
(loop
    (format t "~d ~%" x)
    (setq x (+ x 1))
    (when (> x 10) (return x))
)

1
2
3
4
5
6
7
8
9
10

Simple-Warning:
undefined variable: X
Simple-Warning:
undefined variable: X

11

loop for can cycle through a list or iterate commonly <br>
It will execute any number of statements after do

In [91]:
(loop for x in '(Peter Paul Mary) do 
    (format t "~s ~%" x)
)

Peter
Paul
Mary

Nil

In [54]:
(loop for y from 100 to 110 do
    (print y)
)

100
101
102
103
104
105
106
107
108
109
110

NIL

In [53]:
;; Terminate the loop early using a test.  Actions can
;; consist of arbitrarily many lines and can refer to
;; variables defined outside the lexical scope of the loop.

(loop for x in '(a b c d e 1 2 3 4)
   until (numberp x)
   do
   collect (list x 'foo))

SIMPLE-PROGRAM-ERROR:
A compound form was expected, but COLLECT found.
current LOOP context: DO COLLECT (LIST X 'FOO).

NIL

In [50]:
;; "While" can also serve as a termination check.  Both
;; "do" and "collect" can be combined in one expression.
(loop for x from 1
      for y = (* x 10)
      while (< y 100)
      do (print (* x 5))
      collect y)

5
10
15
20
25
30
35
40
45

(10 20 30 40 50 60 70 80 90)

In [57]:
;; Loops can be nested in various ways

(loop for x from 1 to 10
      collect (loop for y from 1 to x 
            collect y) )

((1) (1 2) (1 2 3) (1 2 3 4) (1 2 3 4 5) (1 2 3 4 5 6) (1 2 3 4 5 6 7)
 (1 2 3 4 5 6 7 8) (1 2 3 4 5 6 7 8 9) (1 2 3 4 5 6 7 8 9 10))

In [58]:
;; Several variables can loop through the components of a complex
;; list to destructure it.

(loop for (a b) in '((x 1) (y 2) (z 3))
      collect (list b a) )

((1 X) (2 Y) (3 Z))

In [59]:
;; Destructuring works for dotted pairs too.

(loop for (x . y) in '((1 . 1) (2 . 4) (3 . 9)) collect y)

(1 4 9)

In [60]:
;; The "return" action both stops the loop and returns a result.
;; Here we return the first numeric character in the string s.

(let ((s "alpha45"))
  (loop for i from 0 below (length s)
    for ch =  (char s i)
    when (find ch "0123456789" :test #'eql)
    return ch) )

#\4

In [61]:
;; Several actions provide shorthands for combinations of when/return

(loop for x in '(foo 2) 
      thereis (numberp x))

T

In [62]:
(loop for x in '(foo 2) 
      never (numberp x))

NIL

In [63]:
(loop for x in '(foo 2) 
      always (numberp x))

NIL

dotimes iterates a specified number of times

In [94]:
(dotimes (y 12)
    (print y))

0
1
2
3
4
5
6
7
8
9
10
11

Nil

# Lists and Conses

In [98]:
(a b c)               ;A list of three symbols 
(2.0s0 (a 1) #\*)     ;A list of three things: a short floating-point 
                      ; number, another list, and a character object

(a . 4)         ;A cons whose car is a symbol 
                ; and whose cdr is an integer 
(a b c . d)     ;A dotted list with three elements whose last cons 
                ; has the symbol d in its cdr

Simple-Style-Warning:
  undefined function: A
Simple-Warning:
undefined variable: B
Simple-Warning:
undefined variable: C
Unbound-Variable:
  #<Unbound-Variable B {10048D3B63}>

Nil

Link together 2 objects of data

In [102]:
(cons 'superman 'batman)

(Superman . Batman)

Create a list with list

In [14]:
(list 'superman 2 9.0)

(SUPERMAN 2 9.0)

Add item to the front of another list

In [97]:
(cons 'aquaman '(superman batman))

(Aquaman Superman Batman)

Get the first item out of a list with car

In [98]:
(car '(superman batman aquaman))

Superman

Get everything but the first item with cdr

In [99]:
(cdr '(superman batman aquaman))

(Batman Aquaman)

Get the 2nd item d = (batman flash joker) a = (batman)

In [100]:
 (cadr '(superman batman aquaman flash joker))

Batman

Get the 3rd item = aquaman

In [101]:
(caddr '(superman batman aquaman flash joker))

Aquaman

Get the 4th item (Max you can go)

In [102]:
(cadddr '(superman batman aquaman flash joker))

Flash

Get the 4th item = joker

In [103]:
(cddddr '(superman batman aquaman flash joker))

(Joker)

Get the 2nd item in the second list <br>
> d : (aquaman flash joker) (wonderwoman catwoman) <br>
a : (aquaman flash joker) <br>
d : (flash joker) <br>
a : (flash) <br>

In [104]:
(cadadr '((superman batman) (aquaman flash joker) (wonderwoman catwoman)))

Flash

Get the 3rd item in the 2nd list = joker

In [105]:
(cddadr '((superman batman) (aquaman flash joker) (wonderwoman catwoman)))

(Joker)

= T Is something a list

In [108]:
(listp '(batman superman))

T

Is 3 a member of the list?

In [111]:
(if (member 3 '(2 4 6)) 't nil)

Nil

Combine lists into 1 list

In [112]:
(append '(just) '(some) '(random words))

(Just Some Random Words)

Push an item on the front of a list

In [133]:
(defparameter *nums* '(2 4 6))
(push 1 *nums*)

(1 2 4 6)

Get the nth value from a list

In [114]:
(nth 2 *nums*)

4

Create a plist which uses a symbol to describe the data

In [115]:
(defvar superman (list :name "Superman" :secret-id "Clark Kent"))

Superman

This list will hold heroes

In [117]:
(defvar *hero-list* nil)

*Hero-List*

Adds items to our list

In [118]:
(push superman *hero-list*)

((:Name "Superman" :Secret-Id "Clark Kent"))

Cycle through all heros in the list and print them out

In [124]:
(dolist (hero *hero-list*)

    ;; Surround with ~{ and ~} to automatically grab data from list
    (format t "~{~a : ~a ~}~%" hero)
)
(push superman *hero-list*)

Name : Superman Secret-Id : Clark Kent

((:Name "Superman" :Secret-Id "Clark Kent")
 (:Name "Superman" :Secret-Id "Clark Kent"))

Cycle through all heros in the list and print them out

#### Association List

The hero name represents the key

In [126]:
(defparameter *heroes*
    '((Superman (Clark Kent))
    (Flash (Barry Allen))
    (Batman (Bruce Wayne))))
    
;;; Get the key value with assoc
(format t "Superman Data ~a ~%" (assoc 'superman *heroes*)) 

;;; Get secret identity
(format t "Superman is ~a ~%" (cadr (assoc 'superman *heroes*)))

Superman Data (Superman (Clark Kent))
Superman is (Clark Kent)

Nil

In [127]:
(defparameter *hero-size*
    '((Superman (6 ft 3 in) (230 lbs))
    (Flash (6 ft 0 in) (190 lbs))
    (Batman (6 ft 2 in) (210 lbs))))
    
;;; Get height
(format t "Superman is ~a ~%" (cadr (assoc 'Flash *hero-size*)))
 
;;; Get weight
(format t "Batman is ~a ~%" (caddr (assoc 'Batman *hero-size*)))

Superman is (6 Ft 0 In)
Batman is (210 Lbs)

Nil

### Funtions

Create a function that says hello

In [15]:
(defun hello ()
    (print "Hello")
    (terpri)) ; Newline

(hello)

"Hello"

NIL

Get average

In [136]:
(defun get-avg (num-1 num-2)
    (/ (+ num-1 num-2) 2 ))

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Get-Avg in DEFUN

Get-Avg

In [135]:
(get-avg 10 50)

30

You can define some parameters as optional in a function with $&optional$

In [137]:
(defun print-list (w x &optional y z)
    (format t "List = ~a ~%" (list w x y z))
)

(print-list 1 2 3)

List = (1 2 3 Nil)

Nil

Receive multiple values with $&rest$

In [106]:
(defvar *total* 0)

(defun sum (&rest nums)
    (dolist (num nums)
        (setf *total* (+ *total* num))
    )
    *total*
)

Sum

In [107]:
(sum 1 2 3 4 5)

15

Keyword parameters are used to pass values to specific variables

In [149]:
(defun print-list(&optional &key x y z)
    (format t "List: ~a ~%" (list x y z))
)

(print-list :x 1 :y 2)

List: (1 2 Nil)

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Print-List in DEFUN

Nil

Functions by default return the value of the last expression <br>
You can also return a specific value with return-from followed by the 
 function name

In [150]:
(defun difference (num1 num2)
    (return-from difference(- num1 num2))
)

Difference

In [151]:
(difference 10 2)

8

Get Supermans data <br>
When you use $`$ you are using quasiquoting which allows you to switch from code to data mode <br>
The function between $,()$ is code mode

In [153]:
(defun get-hero-data (size)
    (format t "~a ~%" 
    `(,(caar size) is ,(cadar size) and ,(cddar size))))
    
(defparameter *hero-size*
    '((Superman (6 ft 3 in) (230 lbs))
    (Flash (6 ft 0 in) (190 lbs))
    (Batman (6 ft 2 in) (210 lbs))))

(get-hero-data *hero-size*)

(Superman Is (6 Ft 3 In) And ((230 Lbs)))

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Get-Hero-Data in DEFUN

Nil

Check if every item in a list is a number

In [154]:
(mapcar #'numberp '(1 2 3 f g))

(T T T Nil Nil)

You can define functions local only to the flet body <br>
>(flet ((func-name (arguments)<br>
... Function Body ...))<br>
... Body ...)<br>

In [155]:
(flet ((double-it (num)
        (* num 2)))
        (double-it 10))

20

You can have multiple functions in flet

In [157]:
(flet ((double-it (num)
        (* num 2))
        (triple-it (num)
        (* num 3)))
        (triple-it (double-it 10))
)

60

labels is used when you want to have a function call itself, or if you want  to be able to call another local function inside a function

In [158]:
(labels ((double-it (num)
            (* num 2))
        (triple-it (num)
            (* (double-it num) 3)))
        (triple-it 3)
)

18

Return multiple values from a function

In [165]:
(defun squares (num)
    (values (expt num 2) (expt num 3)))

(multiple-value-bind (a b) (squares 2) 
 (format t "2^2 = ~d  2^3 = ~d~%" a b)
)

2^2 = 4  2^3 = 8

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Squares in DEFUN

Nil

Higher Order Functions <br>
You can use functions as data

In [168]:
(defun times-3 (x) (* 3 x))
(defun times-4 (x) (* 4 x))
;;; Pass in the function without attributes just like a variable
(defun multiples (mult-func max-num)

    ;; Cycle through values up to the max supplied
    (dotimes (x max-num)
        
        ;; funcall is used when you know the number of arguments
        (format t "~d : ~d~%" x (funcall mult-func x))		
))

(multiples #'times-3 10)
(multiples #'times-4 10)

0 : 0
1 : 3
2 : 6
3 : 9
4 : 12
5 : 15
6 : 18
7 : 21
8 : 24
9 : 27
0 : 0
1 : 4
2 : 8
3 : 12
4 : 16
5 : 20
6 : 24
7 : 28
8 : 32
9 : 36

Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Times-3 in DEFUN
Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Times-4 in DEFUN
Redefinition-With-Defun:
  redefining Cl-Jupyter-User::Multiples in DEFUN

Nil

#### Lambda

The lambda command allows you to create a function without giving it a name <br>
You can also pass this function just like you pass variables <br>
Multiply every item in a list

In [170]:
(mapcar (lambda (x) (* x 2)) '(1 2 3 4 5))

(2 4 6 8 10)

#### Macros
A function runs when it is called to execute, while a macro is compiled 
first and is available immediately like any other lisp built in function <br>
Macros are functions used to generate code rather then perform actions

In [173]:
(defvar *num* 2)
(defvar *num-2* 0)

;;; It can be irritating to have to use progn with if
(if (= *num* 2)
    (progn 
        (setf *num-2* 2)
        (format t "*num-2* = ~d ~%" *num-2*)
    )
    (format t "Not equal to 2 ~%"))

(defmacro ifit (condition &rest body)

    ;;; The backquote generates the code
    ;;; The , changes the condition to code mode from data mode
    ;;; The &rest body parameter will hold commands in a list
    ;;; The "Can't Drive" Works as the else
    
    `(if ,condition (progn ,@body) (format t "Can't Drive ~%") ))

(setf *age* 16)

(ifit (>= *age* 16) 
    (print "You are over 16")
    (print "Time to Drive")
    (terpri)
)

*num-2* = 2

"You are over 16"
"Time to Drive"

Redefinition-With-Defmacro:
  redefining Cl-Jupyter-User::Ifit in DEFMACRO

Nil

$let$ can also get confusing with its parentheses

In [174]:
(defun add (num1 num2)
    (let ((sum (+ num1 num2)))
        (format t "~a + ~a = ~a ~%" num1 num2 sum)))

;;; Define a macro to clean up let

(defmacro letx (var val &body body)
    `(let ((,var ,val)) ,@body))
    
(defun subtract (num1 num2)
    (letx dif (- num1 num2)
        (format t "~a - ~a = ~a ~%" num1 num2 dif)))

(subtract 10 6)

10 - 6 = 4

Nil

#### Classes

$defclass$ defines your custom data type <br>  
Define the class name and attributes it has

In [176]:
(defclass animal ()
    (name
    sound))

;;; Create an animal object
(defparameter *dog* (make-instance 'animal))

;;; Set the values for dog
(setf (slot-value *dog* 'name) "Spot")
(setf (slot-value *dog* 'sound) "Woof")

;;; Get the values for dog
(format t "~a says ~a ~%" 
    (slot-value *dog* 'name) 
    (slot-value *dog* 'sound))

Spot says Woof

Nil

 You can define initialization options for objects <br>
 - :initarg defines the key used to assign to the slot <br>
 - :initform defines a default value  <br>
You can define an error message if an attribute isn't provided <br>
 - :accessor generates getter and setters for the slot using the name you provide.  <br>
You could use :reader mammal-sound to generate only a getter <br>
You could use :writer (setf mammal-sound) to generate only a setter

In [127]:
(defclass mammal ()
    ((name
        :initarg :name
        :initform (error "Must provide a name"))
    (sound
        :initarg :sound
        :initform "No Sound"
        :accessor mammal-sound)
    )
)

(defparameter *king-kong*
    (make-instance 'mammal :name "King Kong" :sound "Rawwwr")
)

;;; Output data on the mammal
(format t "~a says ~a ~%" 
    (slot-value *king-kong* 'name) 
    (slot-value *king-kong* 'sound))

;;; Displays an error because name wasn't defined
;;; (defparameter *king-kong* (make-instance 'mammal))

;;; Create mammal Fluffy
(defparameter *fluffy*
    (make-instance 'mammal :name "Fluffy" :sound "Meow")
)

Reader error: Package TT does not exist.

  Line: 214, Column: 10, File-Position: 5442

  Stream: #<Sb-Impl::String-Input-Stream {1003869243}> (condition of type Simple-Reader-Package-Error)

Nil

A generic function has a name and parameter list but no implementation. <br>
In Lisp methods don't belong to classes, but instead belong to generic 
functions which are responsible for executing the correct method based on the data passed

(defgeneric make-sound (mammal))

(defmethod make-sound ((the-mammal mammal))
    (format t "~a says ~a ~%" 
    (slot-value the-mammal 'name)
    (slot-value the-mammal 'sound))
) 

(make-sound *king-kong*)
(make-sound *fluffy*)

;;; You can define your own getters and setters

;;; Define setter
(defgeneric (setf mammal-name) (value the-mammal))

(defmethod (setf mammal-name) (value (the-mammal mammal))
    (setf (slot-value the-mammal 'name) value))
    
;;; Define getter
(defgeneric mammal-name (the-mammal))

(defmethod mammal-name ((the-mammal mammal))
    (slot-value the-mammal 'name))
    
(setf (mammal-name *king-kong*) "Kong")

(format t "I am ~a ~%" (mammal-name *king-kong*))

;;; Use the auto generated sound getters and setters instead
(setf (mammal-sound *king-kong*) "Rawwwwwwwwr")
(format t "I say ~a ~%" (mammal-sound *king-kong*))

;;; Inheritance allows you to inherit all the attributes of the superclass
;;; and call methods that accept the superclass

(defclass dog (mammal)
    ())

(defparameter *rover*
    (make-instance 'dog :name "Rover" :sound "Woof")
)

(make-sound *rover*)

In [177]:
;;; ---------- ARRAYS ---------- 

;;; Create an array with 3 storage areas
(defparameter names (make-array 3))

;;; Add a value to an array
(setf (aref names 1) 'Bob)

;;; Get a value in an index
(aref names 1)

;;; Make a 3 by 3 array
(setf num-array (make-array '(3 3)
    :initial-contents '((0 1 2) (3 4 5) (6 7 8))))
    
;;; Cycle through and print the array
(dotimes (x 3)
    (dotimes (y 3)
        (print (aref num-array x y))
    )
)

0
1
2
3
4
5
6
7
8

Simple-Warning:
undefined variable: Num-Array
Simple-Warning:
undefined variable: Num-Array

Nil

In [178]:
;;; ---------- HASH TABLE ---------- 
;;; A collection of key value pairs

;;; Create a hash table
(defparameter people (make-hash-table))

;;; Set the key as 102 and the value to Paul Smith
(setf (gethash '102 people) '(Paul Smith))
(setf (gethash '103 people) '(Sam Smith))

;;; Get the value stored in the key 102
(gethash '102 people)

;;; maphash executes a function on each item
;;; ~% = newline
(maphash #'(lambda (k v) (format t "~a = ~a~%" k v)) people)

;;; Remove an entry with the key
(remhash '103 people)

102 = (Paul Smith)
103 = (Sam Smith)

T

In [179]:
;;; ---------- STRUCTURES ----------
;;; A user defined data type with multiple different data types

;;; Define the data names in the struct
(defstruct customer name address id)

;;; Store data in the struct
(setq paulsmith (make-customer 
    :name "Paul Smith"
    :address "123 Main St"
    :id 1000
))

;;; Get a value stored
(customer-name paulsmith)

;;; Change a value in the struct
(setf (customer-address paulsmith) "125 Main St")
(write paulsmith)

(setq sally-smith-1001 (make-customer 
    :name "Sally Smith"
    :address "123 Main St"
    :id 1001
))

#S(Customer :Name "Paul Smith" :Address "125 Main St" :Id 1000)

Simple-Warning:
undefined variable: Paulsmith
Simple-Warning:
undefined variable: Paulsmith
Simple-Warning:
undefined variable: Sally-Smith-1001

#S(Customer :Name "Sally Smith" :Address "123 Main St" :Id 1001)

In [180]:
;;; ---------- FILE I O ---------- 

;;; Write text to a file
;;; A keyword symbol starts with a colon and it only means itself
(with-open-file (my-stream
                "test.txt"
                :direction :output ; We are writing to the file
                :if-exists :supersede) ; If the file exists delete it
    (princ "Some random Text" my-stream))

;;; Read data from a file
(let ((in (open "test.txt" :if-does-not-exist nil)))
   (when in
      (loop for line = (read-line in nil)
      while line do (format t "~a~%" line))
      (close in)
   )
)

Some random Text

T